<ion-view view-title="Submit a Violation">
  <ion-content>
    <form ng-submit="submitViolation()">
      <ion-list>
        <div class="row">
          <div class="col">
            <input type="text" placeholder="Enter a title" class="form-control" id="title"
                   name="title" ng-model="params.title" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" placeholder="address" class="form-control" id="address"
                   name="address" ng-model="params.address" maxlength="140">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" placeholder="city" class="form-control" id="city"
                   name="city" ng-model="params.city" maxlength="140">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" placeholder="latitude" class="form-control" id="latitude"
                   name="latitude" ng-model="params.latitude">
            <input type="text" placeholder="longitude" class="form-control" id="longitude"
                   name="longitude" ng-model="params.longitude">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="datetime" placeholder="date time" class="form-control" id="datetime_of_incident"
                   name="datetime_of_incident" ng-model="params.datetime_of_incident">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img ng-show="params.imageUri!==' '" ng-src="{{ params.imageUri }}" style="max-width: 100%">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-positive icon-right ion-camera" ng-click="getPhoto()">
              Take photo
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="button button-positive">Submit</button>
          </div>
        </div>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
