<ion-view view-title="Violations">
  <ion-content>
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <ion-item>
        <div class="row">
          <div class="col">Title</div>
          <div class="col">Address</div>
        </div>
      </ion-item>

      <ion-item ng-repeat="violation in violations" href="#/tab/violations/{{ violation.id }}">
        <div class="row">
          <div class="col wrap">{{ violation.title }}</div>
          <div class="col wrap">{{ violation.address }}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
