<ion-view view-title="{{ violation.title }}">
  <ion-content>
    <ion-list>
      <div class="row">
        <div class="col">Address:</div>
        <div class="col">{{ violation.address }}</div>
      </div>
      <div class="row">
        <div class="col">Created at:</div>
        <div class="col">{{ violation.created_at }}</div>
      </div>
      <div class="row">
        <div class="col">Description:</div>
        <div class="col">{{ violation.description }}</div>
      </div>
      <ion-item ng-repeat="photo_url in violation.photo_urls">
        <div>
          <img class="violation_photo" ng-show="photo_url" src="{{ photo_url }}">
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
