<ion-view view-title="Violation Details">
  <ion-nav-buttons side="right">
    <button ng-click="goToViolations();" class="button button-icon icon ion-arrow-up-c"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <div class="row">
        <div class="col">Title:</div>
        <div class="col">{{ violation.title }}</div>
      </div>
      <div class="row">
        <div class="col">Address:</div>
        <div class="col">{{ violation.address }}</div>
      </div>
      <div class="row">
        <div class="col">City:</div>
        <div class="col">{{ violation.city }}</div>
      </div>
      <div class="row">
        <div class="col">Date:</div>
        <div class="col">{{ violation.datetime_of_incident }}</div>
      </div>
      <div class="row">
        <div class="col">Description:</div>
        <div class="col">{{ violation.description }}</div>
      </div>
      <ion-item ng-repeat="photo_url in violation.photo_urls">
        <div>
          <img class="violation_photo" ng-show="photo_url" ng-src="{{ photo_url }}">
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
