input {
  width: 100%;
}

.hidden {
  display: none;
}

.margin_10 {
  margin: 10px;
}

.button.button-block, .button.button-full {
  margin-top: 0;
  margin-bottom: 0;
}

.ngn-notify {
  background-color: #FAD232;
}

.violation_photo {
   width: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom: 10px;
}

.title {
  font-weight: bold;
  margin-left: -10px;
}

.description {
  font-weight: bold;
  margin-left: 14px;
}

.item-complex > a.item-content {
  padding: 0;
}

div.wrap {
  white-space: normal;
}

.thumbnail {
  max-height: 50px;
  max-width: 50px;
}
