input {
  width: 100%;
}

.hidden {
  display: none;
}

.margin_10 {
  margin: 10px;
}

/* This is mostly duplicated from ngNotify */
.ngn {
  color: #FFF;
  cursor: default;
  display: none;
  left: 0;
  opacity: 1;
  padding: 12px 80px;
  position: fixed;
  right: 0;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 9999;
}

.notify {
  background-color: #FAD232;
}

.violation_photo {
   width: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom: 10px;
}

.title {
  font-weight: bold;
  margin-left: -10px;
}

.description {
  font-weight: bold;
  margin-left: 14px;
}

.item-complex > a.item-content {
  padding: 0;
}

div.wrap {
  white-space: normal;
}

.thumbnail {
  max-height: 50px;
  max-width: 50px;
}
